{% extends "__base.html" %}
{% load static %}
{% load psbookingtags %}
{% load humanize %}
{% block title %}PS-booking - путешествуй с удовольствием!{% endblock %}

{% block content %}

<!-- banner starts -->
<section class="px-4 d-flex align-items-center" style="min-height: 700px; background-image:url({% static 'images/slider/11.jpg' %})">
    <div class="container">
        <h4 class="text-white">Выбери лучшее направление</h4>
        <h1 class="text-white mb-4">Сделай свою поездку незабываемой</h1>
        <a href="{%  url 'hotels:hotel_list' %}" class="per-btn">
            <span class="text-white">Найти отель</span>
            <i class="bi bi-chevron-right text-white ms-0"></i>
        </a>
    </div>
    <div class="dot-overlay"></div>
</section>
<!-- banner ends -->

<!-- form main starts -->
<div class="form-main">
    <div class="container">
        <form action="." method="get">
            <div class="form-content w-100">
                <h3 class="form-title text-center d-inline white">Найти отель</h3>
                <div class="d-lg-flex align-items-end justify-content-between">
					
                    {% for field in filter_form %}
                    <div class="form-group pr-4 m-0">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}

					<input type="hidden" name="search" value="1">
                    <div class="form-group m-0">
                        <button type="submit" class="nir-btn w-100"><i class="bi bi-search"></i> Поиск</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div style="height: 150px"></div>
</div>
<!-- form main ends -->
{% include "snippets/_messages.html" %}
<!-- top destination starts -->
<section class="container my-5 py-5">
    <div class="section-title section-title-w text-center mb-5 pb-2 w-50 mx-auto">
        <h4 class="mb-0">Направления</h4>
        <h2 class="m-0">Открой <span>лучшую страну</span></h2>
    </div>
    <div class="row d-flex align-items-center">
        {% for country in country_list %}
        <div class="col-lg-4 col-md-6 p-1">
            <img src="{{ country.picture_url }}" alt="destination">
            <div class="d-flex align-items-center justify-content-between bg-white py-2 px-3">
                <h4 class="mb-0 navy">{{ country.title }}</h4>
                <h4 class="mb-0 pink">от {{ country.min_price|default:0|num_dot }}</h4>
            </div>
            <a href="{%  url 'hotels:hotel_list' %}?destination={{ country.id }}" class="nir-btn">
                <span class="white">Бронировать</span>
                <i class="bi bi-caret-right-fill text-white"></i>
            </a>
        </div>
        {%  endfor %}
    </div>
</section>
<!-- top destination ends -->

<!-- top hotels starts -->
<section class="top-destination overflow-hidden bg-navy">
    <div class="container">
        <div class="section-title section-title-w text-center mb-5 pb-2 w-50 mx-auto">
            <h4 class="mb-0 text-white">Отели</h4>
            <h2 class="m-0 text-white">Выбери <span>лучший отель</span></h2>
        </div>
        <div class="row d-flex align-items-center">
            {% for hotel in hotel_list %}
            <div class="col-lg-4 col-md-6 p-1">
                <div class="desti-image">
                    <img src="{{ hotel.picture_url }}" alt="hotel">
                    <div class="desti-content hotel-content d-flex align-items-center justify-content-between bg-white py-2 px-3">
                        <div>
                            <div class="pb-2">
                                <span class="bg-navy text-white p-2 me-2">{{ hotel.avg_rate|default:0|stringformat:'0.1f' }}</span>
                                {% with hotel.count_rev|default:0 as rc %}
                                    {{ rc }} {% plural rc "отзыв" "отзыва" "отзывов" %}
                                {% endwith %}
                            </div>
                            <h4 class="mb-0 navy">{{ hotel.title }}</h4>
                            <span><i class="bi bi-geo-alt me-2"></i>{{ hotel.town }}, {{ hotel.country }}</span>
                        </div>
                        <div>
                            <h4 class="mb-0 pink">от {{ hotel.min_price|default:0|num_dot }}</h4>
                            <span>за ночь</span>
                        </div>
                    </div>
                    <div class="desti-overlay">
                        <a href="{{ hotel.get_absolute_url }}" class="nir-btn">
                            <span class="text-white">Бронировать</span>
                            <i class="bi bi-arrow-right text-white"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
         </div>
    </div>
</section>
<!-- top hotels ends -->

<!-- testimonial starts -->
<section class="testimonial pb-6 pt-9" style="background-image: url({% static 'images/testimonial.png' %})">
    <div class="container">
        <div class="text-center mb-5 pb-2 w-50 mx-auto">
            <h4 class="mb-0">Отзывы</h4>
            <h2 class="m-0">Что <span class="pink">о нас говорят</span></h2>
        </div>
        <div class="row">
            {% for review in review_list %}
            <div class="col-sm-12">
                <div class="testimonial-item1">
                    <div class="author-info mb-2">
                        <img src="{% avatar review.user  %}" alt="user">
                        <h4 class="my-1 pink">{{ review.user.get_full_name }}</h4>
                        <p>Отель "{{ review.hotel }}"</p>
                        <p class="my-0">{{ review.created }}</p>
                    </div>
                    <div class="details d-flex justify-content-between">
                        <p class="m-0">{{ review.text }}</p>
                    </div>
                    <i class="bi bi-chat-left-quote-fill"></i>
                </div>
            </div>
            {% endfor %}
       </div>
    </div>
</section>
<!-- testimonial ends -->
{% endblock %}



