
{% extends "__base.html" %}
{% load static %}
{% block title %}PS-booking - пароль изменен{% endblock %}

{% block content %}
{% include "accounts/__menu.html" %}
{% with 'Пароль изменен' as title %}
{% include "accounts/__title.html" %}
{% endwith %}

<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col">
            <h1>Пароль изменен</h1>
            <hr>
            <p>Ваш пароль успешно изменен.</p>
            <p><a href="{% url 'main:index' %}">На главную</a></p>
        </div>
    </div>
</div>
					</div>
				</div>
			</div>
		</div>  
{% endblock %}
