
{% extends "__base.html" %}
{% load static %}
{% block title %}PS-booking - установка нового пароля{% endblock %}

{% block content %}
{% with 'ВОССТАНОВЛЕНИЕ ПАРОЛЯ' as head %}
   {% include "snippets/_breadcrumb.html" %}
{% endwith %}
{%  include 'snippets/_messages.html' %}

<div class="container">
    <div class="row" style="min-height: calc(100vh - 453px)">
        <div class="col">
            <h1>Установка нового пароля</h1>
            <hr>
            {% if validlink %}
            {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form.new_password1.label_tag }}
				{{ form.new_password1 }}
                <p></p>
                <ul>
                    <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
                    <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                    <li>Пароль не должен быть слишком простым и распространенным.</li>
                    <li>Пароль не может состоять только из цифр.</li>
                </ul>
                <p></p>
				{{ form.new_password2.label_tag }}
				{{ form.new_password2 }}
                <p></p>
                <button type="submit" class="btn btn-success">Установить пароль</button>
            </form>
            {% else %}
            <p>Ссылка для восстановления пароля не действительна или срок действия ссылки истек.</p>
            <p>Запросите сброс пароля повторно.</p>
            <a href="{% url 'accounts:password_reset' %}" class="btn btn-primary">Сбросить пароль</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
