{% extends "__base.html" %}
{% load static %}
{% block title %}PS-booking - восстановление пароля{% endblock %}

{% block content %}
{% with 'ВОССТАНОВЛЕНИЕ ПАРОЛЯ' as head %}
   {% include "snippets/_breadcrumb.html" %}
{% endwith %}
{%  include 'snippets/_messages.html' %}

<!-- hotel detail starts -->
<div class="container mt-5 pt-5">
    <div class="row" style="min-height: calc(100vh - 453px)">
        <div class="col mb-4">
            <p>Ссылка для восстановления пароля отправлена на указанный email</p>
            <a href="{% url 'main:index' %}" class="btn btn-light">На главную</a>
        </div>
    </div>
</div>
<!-- hotel detail Ends -->
            </div>
        </div>
    </div>
</div>
{% endblock %}