{% extends "__base.html" %}
{% load static %}
{% block title %}PS-booking - восстановление пароля{% endblock %}

{% block content %}
{% with 'ВОССТАНОВЛЕНИЕ ПАРОЛЯ' as head %}
   {% include "snippets/_breadcrumb.html" %}
{% endwith %}
{%  include 'snippets/_messages.html' %}

<!-- hotel detail starts -->
<div class="container mt-5 pt-5">
    <div class="row justify-content-center" style="min-height: calc(100vh - 453px)">
        <div class="col-auto mb-4">
            <h4>Пожалуйста, укажите свою электронную почту.<br>
                Перейдите по ссылке в письме для восстановления пароля.
            </h4>
            <form action="." method="post">
                {% csrf_token %}
                <div class="form-group mb-0">
                   {{ form.as_p }}
                    <button type="submit" class="nir-btn mt-2">Сбросить пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- hotel detail Ends -->
{% endblock %}